* {
  margin:0px;
  box-sizing: border-box;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.navbar {
  background-color: white;
  color: black;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.navbar-content {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  max-width: 1200px; /* Adjust as needed */
}

.logo {
  content: none;
  width: 200px;
  margin-bottom: 10px;
  width: 150px;
  margin-right: 900px;
  cursor: pointer; 
}

.search-container {
  display: flex;
  align-items: center;
  border: 1px solid #ccc;
  border-radius:20px;
  overflow: hidden;
}

.searchbar {
  border: none;
  padding: 8px;
  height:30px;
  width: 300px;
margin:0px;
}

.search-button {
  background: none;
  border: none;
  cursor: pointer;
  padding: 0px;
  height:50px;
  width:170px;

}
.search-icon{   
  background-color: #f4f0f0;
height:40px;
width:40px;
margin-left:125px;
}
.icon{
color: aqua;
width: 10px;
height: 10px;
}



.video-gallery {
  display: grid; 
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr)); /* Responsive columns */
  grid-row-gap: 0px; /* Adjust the gap between rows */
  grid-column-gap: 20px; /* Adjust the gap between columns */
}


.video {
  margin: 90px;
  /* border: 1px solid #ddd; */
  padding: 2px;
  width: 300px;
cursor: pointer; 
}

.video img {
  width: 100%;
  height: auto;
  border-radius: 30px;
  cursor: pointer; 
}

.video-info {
  padding: 10px;
}

.channel {
  display: flex;
  align-items: center;
}

.channel img {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  margin-right: 10px;
}